//colors
$white: #ffffff;
$graylight: #b7b7b7;
$gray: #777777;
$graydark: #666666;
$dark: #363636;
$olive: #666547;
$gold: #DAA520;
$green: #9bc90d;
$greenlight: #00b159;
$bluelight: #5ac9e7;
$blue: #00aedb;
$bluedark: #03396c;
$red: #d11141;
$black: #000000;

//fonts
$defaultfont: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$sans: 'Lato', sans-serif;
$serif: 'Roboto Slab', serif;
$display: 'Playfair Display', serif;

//z-indexes
$z-minus: -1;
$z-1: 1; // basic
$z-2: 2; // basic
$z-slider: 10;
$z-slider-close: 11;
$z-input: 20;
